<!DOCTYPE html>
<html>
<head>
	<title>
		{%block title%}
			Sitio creado con Google App Engine
		{%endblock%} 
	</title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/static/estilo.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">	
</head>
<body>
	<div class="container">	
		<div id="cabecera_principal">
			<img src="/public/img/Banner.png"/>
		</div>

		<!--Barra de menú-->
	      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	        <div class="container-fluid">
	          <!-- Parte de menú que se ve para móviles o cuando se reduzca la pantalla-->
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="#">Sistema de Inventario</a> <!--Título que a parece en la parte izquierda-->
	          </div>

	          <!-- Collect the nav links, forms, and other content for toggling -->
	          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	              <li><a href="#"><span class="glyphicon glyphicon-home"></span> Inicio</a></li> <!--La class active pone el elemento del menú como si estuviera seleccionado-->
	              <!--<li><a style="background-color:red" href="#">Hola2</a></li>-->
	             
	              <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span> Categorías<b class="caret"></b></a> <!-- La etiqueta b de la clase caret pone la fecha hacia abajo, del menú desplegable-->
	                <ul class="dropdown-menu">
	                  <li><a href="#">Maquillaje</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#">Línea de Color</a></li>
	                </ul>
	              </li>

	              <li><a href="#"><span class="glyphicon glyphicon-book"></span> Reportes</a></li>   
	              <li><a href="#"><span class="glyphicon glyphicon-off"></span> Cerrar Sesión</a></li>             
	            </ul>     
	          </div><!-- /.navbar-collapse -->
	        </div><!-- /.container-fluid -->
	      </nav>
		<!--Cierra navbar-->

		<div id="bodycontent">
			{%block bodycontent%}
				Replace this
			{%endblock%}
		</div>	
		<br/>
		<br/>
		<br/>
		<div id='footer'>
			<p class="text_footer"><center></center></p>
			<p class="text_footer"><center>Ingeniería en Sistemas Computacionales</center></p>			
		</div>
	</div>

   	{%block script%}			
	{%endblock%} 
	<script src="/static/bootstrap/js/jquery.min.js"></script> <!--Se debe cargar primero el jquery antes de bootstrap para que todo funcione bien-->
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>	
</body>
</html>