{% extends "_base.html" %}
{% set active_page = "clientes" %}
{% block bodycontent %}
<html lang="es">
<head>
      <title>Registrar Cliente</title>
</head>
<body>  
      <div class="form-group">
            <h1>Registrar Cliente</h1>
            <center>
                  <div id="agrupa">
                        <form role="form" action="/clientes" method="post">
                              <input type="text" class="form-control" name="nombre" placeholder="Nombre(s)" required pattern="[a-zA-Z\s]*$"><br><br>
                              <input type="text" class="form-control" name="apellidos" placeholder="Apellidos" required pattern="[a-zA-Z\s]*$"><br><br>
                              <input type="email" class="form-control" name="email" placeholder="Email"><br><br>             
                              <input type="text" class="form-control" name="telefono" placeholder="Tel." required pattern="[0-9]*"><br><br>
                              <input type="text" class="form-control" name="direccion" placeholder="Dirección" required pattern="[a-zA-Z0-9\s]*$"><br><br>
                              <div align="right">
                                    <button type="submit" class="btn btn-primary btn-lg" title="Registrar">Registrar <span class='glyphicon glyphicon-plus'></span></button>
                              </div>
                        </form>
                  </div>
            </center>
      </div>
</body>
</html>
{% endblock %}