{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "corrector" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos de Corrector Mary Kay</center></h2>
      <div class="form-group">
	      <center>
                  <img src="/public/img/Lineadecolor/Ojos/Corrector/corrector.jpg"/>
                  <p><b>$71.50</b></p>
                  <p>Manchas, ojeras, pequeñas imperfecciones…nada que un poco de corrector no pueda arreglar.</p>
                  <p>El Corrector de Ojos Mary Kay® ahora viene en cuatro nuevos tonos, que combinan</p>
                  <p>perfectamente con los Maquillajes Mary Kay.</p>
                  
                  <br/>
                  <br/>
	      	<a href="#"><img src="/public/img/Lineadecolor/Ojos/Corrector/C1.png"/></a>
                  <input type="text"  size="8" name="c1">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Corrector/C2.png"/></a>
                  <input type="text"  size="8" name="c2">
                  <label>Cant.</label> 
                  <br/> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Corrector/C3.png"/></a>
	      	<input type="text"  size="8" name="c3">
                  <label>Cant.</label>
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Corrector/C4.png"/></a>
	      	<input type="text"  size="8" name="c4">
                  <label>Cant.</label> 
          </center>
	  </div>      
{% endblock %} <!--Fin del contenido del archivo-->
