{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "delineador" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Rimel Mary Kay</center></h2>
      <div class="form-group">
	      <center>
          <img src="/public/img/Lineadecolor/Ojos/Delineador/delineador.jpg"/>
          <p>Se desliza suavemente con un color duradero que no se desvanece.</p> 
          <p>Color intenso y de secado ultrarrápido. De larga duración.</p>
          <br/>
          <br/>

          <form role="form">
	         	<a href="#"><img src="/public/img/Lineadecolor/Ojos/Delineador/D1.png"/></a>
            <b>$160.00</b>
            <input type="text"  size="8" name="d1">
            <label>Cant.</label> 
            <a href="#"><img src="/public/img/Lineadecolor/Ojos/Delineador/D2.png"/></a>
            <b>$118.00</b>
            <input type="text"  size="8" name="d2">
            <label>Cant.</label> 
            <div align="right">
                        <button type="submit" class="btn btn-primary btn-lg" title="Guardar">Guardar <span class='glyphicon glyphicon-ok-sign'></span></button>
                        <button type="button" class="btn btn-danger btn-lg" title="Cancelar" onclick="window.location.href='/index'">Cancelar <span class='glyphicon glyphicon-remove-circle'></span></button>
                  </div>
            </form>
          </center>

	  </div>      
{% endblock %} <!--Fin del contenido del archivo-->
