{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "labial2" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos del Brillo Labial Nourishine</center></h2>
      <div class="form-group">
            <center>

                  <img src="/public/img/Lineadecolor/Labiales/LL2/labial.png"/>
                  <p><b>$115.50</b></p>
                  <p>Su fórmula protege, acondiciona y suaviza los labios,</p> 
                  <p>brindando un acabado de máximo brillo. Además, ofrece</p>
                  <p>grandes beneficios gracias a sus extractos botánicos y antioxidantes.</p>
                  <br/>
                  <br/>
            
            <form role="form">
            	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL2/BL1.png"/></a>
                  <input type="text"  size="8" name="BL1">
                  <label>Cant.</label> 
            	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL2/BL2.png"/></a>      	
                  <input type="text"  size="8" name="BL2">
                  <label>Cant.</label> 
                  <br/>
            	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL2/BL3.png"/></a>         	
                  <input type="text"  size="8" name="BL3">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Labiales/LL2/BL4.png"/></a>                    
                  <input type="text"  size="8" name="BL4">
                  <label>Cant.</label> 
                  <br/>
                  <a href="#"><img src="/public/img/Lineadecolor/Labiales/LL2/BL5.png"/></a>                        
                  <input type="text"  size="8" name="BL5">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Labiales/LL2/BL6.png"/></a>
                  <input type="text"  size="8" name="BL6">
                  <label>Cant.</label> 
                  <div align="right">
                        <button type="submit" class="btn btn-primary btn-lg" title="Guardar">Guardar <span class='glyphicon glyphicon-ok-sign'></span></button>
                        <button type="button" class="btn btn-danger btn-lg" title="Cancelar" onclick="window.location.href='/index'">Cancelar <span class='glyphicon glyphicon-remove-circle'></span></button>
                  </div>
            </form>
            </center>
      </div>
{% endblock %} <!--Fin del contenido del archivo-->
