{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "labios" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Labiales Mary Kay</center></h2>
      <div class="form-group">
	      <center>
	      	<a href="/labial1"><img src="/public/img/Lineadecolor/Labiales/LL1.jpg"/></a>
	      	<a href="/labial2"><img src="/public/img/Lineadecolor/Labiales/LL2.jpg"/></a>      
	      </center>
      </div>
{% endblock %} <!--Fin del contenido del archivo-->
