{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "labial1" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos del lápiz labial True Dimensions</center></h2>
      <center>
      	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L2.png"/></a> 
      	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L6.png"/></a>      	
      	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L7.png"/></a>         	
      	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L3.png"/></a>         	      	
      	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L4.png"/></a>           	
      	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L5.png"/></a>
      	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L1.png"/></a>
      </center>
{% endblock %} <!--Fin del contenido del archivo-->
