{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "labial1" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos del lápiz labial True Dimensions</center></h2>
      <div class="form-group">
            <center>
                  <img src="/public/img/Lineadecolor/Labiales/LL1/labial.png"/>
                  <p><b>$150.00</b></p>
                  <p>Sumerge tus labios en una nueva dimensión de color con una </p> 
                  <p> suave experiencia de humectación intensa. Con ingredientes</p>
                  <p>avanzados para suavizar la apariencia de finas líneas y</p>
                  <p>ayudar a lucir unos labios con mayor volumen.</p>
                  <br/>
                  <br/>

            <form role="form">
                  <a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L2.png"/></a>
                  <input type="text"  size="8" name="L2">
                  <label>Cant.</label>
            	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L6.png"/></a>      	
                  <input type="text"  size="8" name="L6">
                  <label>Cant.</label>
                  <br/>
            	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L7.png"/></a>         	
                  <input type="text"  size="8" name="L7">
                  <label>Cant.</label>
                  <a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L3.png"/></a>         	      	
                  <input type="text"  size="8" name="L3">
                  <label>Cant.</label>
                  <br/>
            	<a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L4.png"/></a>           	
                  <input type="text"  size="8" name="L4">
                  <label>Cant.</label>
                  <a href="#"><img src="/public/img/Lineadecolor/Labiales/LL1/L5.png"/></a>
                  <input type="text"  size="8" name="L5">
                  <label>Cant.</label>
                  <div align="right">
                        <button type="submit" class="btn btn-primary btn-lg" title="Guardar">Guardar <span class='glyphicon glyphicon-ok-sign'></span></button>
                        <button type="button" class="btn btn-danger btn-lg" title="Cancelar" onclick="window.location.href='/index'">Cancelar <span class='glyphicon glyphicon-remove-circle'></span></button>
                  </div>
            </form>
           </center>
      </div>
{% endblock %} <!--Fin del contenido del archivo-->
