{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "lapiz" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos de Lápiz Delineador Mary Kay</center></h2>
      <div class="form-group">
	      <center>
                  <img src="/public/img/Lineadecolor/Ojos/Lapiz/lapiz.jpg"/>
                  <p><b>$90.50</b></p>
                  <p>Dale a tus ojos la forma perfecta, cubriéndolas suave</p> 
                  <p>y fácilmente con estos lápices delineadores. Gracias </p>
                  <p>a su presentación de madera brindan mayor duración y </p>
                  <p>un acabado ¡increíblemente natural!</p>
                 
                  <br/>
                  <br/>
            <form role="form">
	      	<a href="#"><img src="/public/img/Lineadecolor/Ojos/Lapiz/L1.png"/></a>
                  <input type="text"  size="8" name="l1">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Lapiz/L2.png"/></a>
                  <input type="text"  size="8" name="l2">
                  <label>Cant.</label> 
                  <br/> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Lapiz/L3.png"/></a>
	      	<input type="text"  size="8" name="c3">
                  <label>Cant.</label>
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Lapiz/L4.png"/></a>
	      	<input type="text"  size="8" name="c4">
                  <label>Cant.</label> 
                  <div align="right">
                        <button type="submit" class="btn btn-primary btn-lg" title="Guardar">Guardar <span class='glyphicon glyphicon-ok-sign'></span></button>
                        <button type="button" class="btn btn-danger btn-lg" title="Cancelar" onclick="window.location.href='/index'">Cancelar <span class='glyphicon glyphicon-remove-circle'></span></button>
                  </div>
            </form>
          </center>
	  </div>      
{% endblock %} <!--Fin del contenido del archivo-->
