{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "lineadecolor" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Linea de Color Mary Kay</center></h2>
      <div class="form-group">
	      <center>
	      	<a href="/labios"><img src="/public/img/Lineadecolor/Principales/labios1.png"/></a>
	      	<a href="/ojos"><img src="/public/img/Lineadecolor/Principales/Ojos1.png"/></a>      
	      	<a href="/mejillas"><img src="/public/img/Lineadecolor/Principales/Mejillas1.jpg"/></a>
	      </center>
      </div>
{% endblock %} <!--Fin del contenido del archivo-->
