{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "maquillaje2" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos de maquillaje Mary Kay</center></h2>
      <div class="form-group">
	      <center>
	      	        <img src="/public/img/Maquillaje/Tonosmaq2/maquillaje3.jpg"/>
                  <br/>
                  <br/>
                  <label for="precio"><strong>Precio: </strong></label>                  
                  <input type="text" class="form-control required" id="precio" name="precio" readonly="readonly" value="119">
                  <p>Cuando quieras que tu rostro tenga luminosidad perfecta, debes obtener el nuevo</p> 
                  <p> Maquillaje en Polvo Suelto Mineral Mary Kay®. Suaviza e iguala el tono de piel,</p>
                  <p> reduce la apariencia de las líneas de expresión y otras imperfecciones.</p>
                  <br/>
                  <br/>
                  <form role="form" action="/agrega_maquillaje" method="post">
                        <input type="hidden" name="descripcion" value="Maquillaje en Polvo Suelto Mineral" id="descripcion">
                        <div class="panel panel-primary"> 
                              <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Productos agregados para la venta</strong></h3>
                               </div>
                              <div class="panel-body">
                                    <p>En esta tabla se agregarán los productos y sus respectivas cantidades que se venderán</p>
                              </div>
                              <table id="tabla" name="tabla" class="table table-striped table-bordered table-responsive table-condensed table-hover">    
                                <tr>
                                  <td class="alert alert-info alert-dismissable">Producto</td>
                                  <td class="alert alert-info alert-dismissable">Cantidad</td>
                                  <td class="alert alert-info alert-dismissable">Cliente</td>
                                  <td class="alert alert-info alert-dismissable">Precio Total</td>
                                  <td class="alert alert-info alert-dismissable"></td>
                               </tr>                         
                              </table>
                        </div>                  
                        <div class="row">
                              <div class="col-lg-5">
                                    <label for="producto">Producto</label>
                                    <select class="form-control" id="producto">
                                          {%for prod in productos%}
                                            {%if prod.categoria == 'MPSM'%}
                                            <option>{{prod.producto}}</option>
                                            {%endif%}
                                          {%endfor%}
                                          <!-- <option>10040984 Ivory 1</option>
                                          <option>10040985 Ivory 2</option>
                                          <option>10040987 Beige 1</option>
                                          <option>10040989 Beige 2</option> -->
                                      </select>
                              </div>
                              <div class="col-lg-2">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="text" class="form-control required" id="cantidad" name="cantidad">
                              </div>
                              <div class="col-lg-3">
                                <label for="cliente">Cliente</label>
                                <select class="form-control" id="cliente">
                                  {%for registros in registro%}
                                    <option>{{registros.nombre}}</option>
                                  {%endfor%}
                                </select>
                              </div>
                              <div class="col-lg-2" align="center">
                                    <br/>
                                    <button type="button" class="btn btn-info" title="Agregar" onclick="agrega_fila();">Agregar <span class='glyphicon glyphicon-plus-sign'></span></button>
                               </div>
                        </div>
                        <img src="/public/img/Maquillaje/Tonosmaq2/1.-ivory1.png"/>
                        <img src="/public/img/Maquillaje/Tonosmaq2/2.-ivory2.png"/>
                        <br/> 
      	      	<img src="/public/img/Maquillaje/Tonosmaq2/3.-beige1.png"/>
      	      	<img src="/public/img/Maquillaje/Tonosmaq2/4.-beige2.png"/>
      	      	<div align="right">
                              <button type="submit" class="btn btn-primary btn-lg" title="Guardar">Guardar <span class='glyphicon glyphicon-ok-sign'></span></button>
                              <button type="button" class="btn btn-danger btn-lg" title="Cancelar" onclick="window.location.href='/index'">Cancelar <span class='glyphicon glyphicon-remove-circle'></span></button>
                        </div>
                  </form>
                  <br/> 
	      </center>
      </div>      
{% endblock %} <!--Fin del contenido del archivo-->
{%block script%}
            <script>
                  function agrega_fila()
                  {
                        var producto = $('#producto option:selected').text();
                        var cliente = $('#cliente option:selected').text();
                        var id = $('#producto').val();
                        var cantidad = $('#cantidad').val();
                        var precio = $('#precio').val();
                        precio=precio*cantidad;

                        if(cantidad=='')
                          { 
                            alert("El campo cantidad es obligatorio"); 
                          }
                        else
                          { 
                            //Agrego el input a cada columna, para almacenar los campos de cada producto y así poder recuperarlos para ser guardados
                            var cad="<tr><td><input name='productos' value='"+producto+"' type='hidden'>"+producto+"</td><td><input name='cantidades' value='"+cantidad+"' type='hidden'>"+cantidad+"</td><td><input name='precios' value='"+precio+"' type='hidden'>"+precio+"</td><td><input name='cliente' value='"+cliente+"' type='hidden'>"+cliente+"</td><td width='40px'><button type='button' onclick='elimina_fila(this);' class='btn btn-primary btn-sm' title='Eliminar'><span class='glyphicon glyphicon-remove'></span></button></td></tr>";
                            $('#tabla').append(cad);
                          }
                        
                  }
                  // Evento que selecciona la fila y la elimina 
                  function elimina_fila(boton)
                  {
                        $(boton).parent().parent().remove();
                  }
            </script>               
{%endblock%} 