{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "maquillaje3" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos de maquillaje Mary Kay</center></h2>
      <div class="form-group">
	      <center>
                  <img src="/public/img/Maquillaje/Tonosmaq3/maquillaje2.jpg"/>
                  <p><b>$119.00</b></p>
                  <p>Se desliza sobre tu cutis como una crema para ocultar imperfecciones</p> 
                  <p> al secarse da un acabado en polvo. Asegúrate de adquirir el Estuche</p>
                  <p> Cosmético Mary Kay® y sus aplicadores</p>
                  <br/>
                  <br/>
                  <div class="panel panel-primary"> 
                        <div class="panel-heading">
                              <h3 class="panel-title"><strong>Productos agregados para la venta</strong></h3>
                         </div>
                        <div class="panel-body">
                              <p>En esta tabla se agregarán los productos y sus respectivas cantidades que se venderán</p>
                        </div>
                        <table id="tabla" name="tabla" class="table table-striped table-bordered table-responsive table-condensed table-hover">                           
                        </table>
                  </div>                  
                  <div class="row">
                        <div class="col-lg-8">
                              <label for="producto">Producto</label>
                              <select class="form-control" id="producto">
                                    <option>10014696 Ivory 1</option>
                                    <option>10014697 Ivory 2</option>
                                    <option>10014698 Beige 1</option>
                                    <option>10014701 Beige 3</option>
                                </select>
                        </div>
                        <div class="col-lg-2">
                              <label for="cantidad">Cantidad</label>
                              <input type="text" class="form-control required" id="cantidad" name="cantidad">
                        </div>
                        <div class="col-lg-2" align="center">
                              <br/>
                              <button type="button" class="btn btn-info" title="Agregar" onclick="agrega_fila();">Agregar <span class='glyphicon glyphicon-plus-sign'></span></button>
                         </div>
                  </div>                  
                  <br/>
                  <form role="form">
                        <img src="/public/img/Maquillaje/Tonosmaq3/1.-ivory1.png"/>
                        <img src="/public/img/Maquillaje/Tonosmaq3/2.-ivory2.png"/>	      	      	
      	      	<img src="/public/img/Maquillaje/Tonosmaq3/3.-beige1.png"/>
      	      	<img src="/public/img/Maquillaje/Tonosmaq3/4.-beige3.png"/>      	
      	      	<div align="right">
                              <button type="submit" class="btn btn-primary btn-lg" title="Guardar">Guardar <span class='glyphicon glyphicon-ok-sign'></span></button>
                              <button type="button" class="btn btn-danger btn-lg" title="Cancelar" onclick="window.location.href='/index'">Cancelar <span class='glyphicon glyphicon-remove-circle'></span></button>
                        </div>
                  </form>
          </center>
	  </div>      
{% endblock %} <!--Fin del contenido del archivo-->
{%block script%}
            <script>
                  function agrega_fila()
                  {
                        var opcion_seleccionada = $('#producto option:selected').text();
                        var id = $('#producto').val();
                        var cantidad = $('#cantidad').val();
                        var i=('td').length;
                        //Agrego el input a cada columna, para almacenar los id de cada especialidad y así poder recuperarlos para ser guardados
                      var cad="<tr><td><input name='productos[]' value='"+opcion_seleccionada+"' type='hidden'>"+opcion_seleccionada+"</td><td><input name='cantidades[]' value='"+cantidad+"' type='hidden'>"+cantidad+"</td><td width='40px'><button type='button' onclick='elimina_fila(this);' class='btn btn-primary btn-sm' title='Eliminar'><span class='glyphicon glyphicon-remove'></span></button></td></tr>";
                      $('#tabla').append(cad);
                  }
                  // Evento que selecciona la fila y la elimina 
                  function elimina_fila(boton)
                  {
                        $(boton).parent().parent().remove();
                  }
            </script>               
{%endblock%} 