{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "maquillaje1" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos de maquillaje Mary Kay</center></h2>
      <center>
      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/1-ivory100.jpg"/></a>
      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/2-ivory200.jpg"/></a>
      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/3-beige300.jpg"/></a>
      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/4-beige302.jpg"/></a>       	
      	<br/>     	
      	<br/> 
      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/5-beige304.jpg"/></a>
      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/6-beige400.jpg"/></a>      	
      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/7-beige402.jpg"/></a>      	
      </center>
      
{% endblock %} <!--Fin del contenido del archivo-->
