{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "maquillaje1" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos de maquillaje Mary Kay</center></h2>
      <div class="form-group">
            <center>
            	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/1-ivory100.jpg"/></a>
                  <input type="text"  size="8" name="m1">
                  <label>Cant.</label> 
            	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/2-ivory200.jpg"/></a>
                  <input type="text"  size="8" name="m2">
                  <label>Cant.</label> 
                  <br/>
            	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/3-beige300.jpg"/></a>
                  <input type="text"  size="8" name="m3">
                  <label>Cant.</label> 
            	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/4-beige302.jpg"/></a>       	
                  <input type="text"  size="8" name="m4">
                  <label>Cant.</label> 
            	<br/> 
            	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/5-beige304.jpg"/></a>
                  <input type="text"  size="8" name="m5">
                  <label>Cant.</label>
            	<a href=""><img src="/public/img/Maquillaje/Tonosmaq1/6-beige400.jpg"/></a>      	
                  <input type="text"  size="8" name="m6">
                  <label>Cant.</label>       	
            </center>
      </div>
      
{% endblock %} <!--Fin del contenido del archivo-->
