{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "maquillaje2" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos de maquillaje Mary Kay</center></h2>
      <div class="form-group">
	      <center>
	      	 <img src="/public/img/Maquillaje/Tonosmaq2/maquillaje3.jpg"/>
                  <p><b>$119.00</b></p>
                  <p>Cuando quieras que tu rostro tenga luminosidad perfecta, debes obtener el nuevo</p> 
                  <p> Maquillaje en Polvo Suelto Mineral Mary Kay®. Suaviza e iguala el tono de piel,</p>
                  <p> reduce la apariencia de las líneas de expresión y otras imperfecciones.</p>
                  <br/>
                  <br/>

                  <a href=""><img src="/public/img/Maquillaje/Tonosmaq2/1.-ivory1.png"/></a>
                  <input type="text"  size="8" name="mm1">
                  <label>Cant.</label>       	
	      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq2/2.-ivory2.png"/></a>
                  <input type="text"  size="8" name="mm2">
                  <label>Cant.</label> 
          	      <br/> 
	      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq2/3.-beige1.png"/></a>
	      	<input type="text"  size="8" name="mm3">
                  <label>Cant.</label> 
	      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq2/4.-beige2.png"/></a>       
	      	<input type="text"  size="8" name="mm4">
                  <label>Cant.</label> 
                  <br/> 
	      </center>
	  </div>      
{% endblock %} <!--Fin del contenido del archivo-->
