{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "materia" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Maquillajes Mary Kay</center></h2>
      <div class="form-group">
	      <center>
	      	<a href="/maquillaje1?m=MLCM"><img src="/public/img/Maquillaje/maquillaje1.jpg"/></a>
	      	<a href="/maquillaje2?m=MPSM"><img src="/public/img/Maquillaje/maquillaje2.jpg"/></a>
	      	<a href="/maquillaje3?m=MPC"><img src="/public/img/Maquillaje/maquillaje3.jpg"/></a>
	      </center>
      </div>
      
{% endblock %} <!--Fin del contenido del archivo-->
