{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "maquillaje3" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos de maquillaje Mary Kay</center></h2>
      <div class="form-group">
	      <center>
	      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq3/1.-ivory1.png"/></a>
	      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq3/2.-ivory2.png"/></a>      	
	      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq3/3.-beige1.png"/></a>      	
	      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq3/4.-beige3.png"/></a>      	
	      	<a href=""><img src="/public/img/Maquillaje/Tonosmaq3/5.-beige4.png"/></a>      	      	
	      </center>
	  </div>      
{% endblock %} <!--Fin del contenido del archivo-->
