{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "mejillas" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos del rubor</center></h2>
      <div class="form-group">
	      <center>
                  <img src="/public/img/Lineadecolor/Mejillas/rubor.png"/>
                  <p><b>$64.00</b></p>
                  <p>El Rubor Mineral Compacto Mary Kay se aplica en forma</p> 
                  <p>uniforme y brinda un color de apariencia natural y de</p>
                  <p>larga duración. Este rubor luminoso es fácil de </p>
                  <p>difuminar. Disponible en nueve hermosos tonos.</p>
                  
                  <br/>
                  <br/>
                  <a href="#"><img src="/public/img/Lineadecolor/Mejillas/R1.png"/></a>  
	      	<input type="text"  size="8" name="R1">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Mejillas/R2.png"/></a>
	      	<input type="text"  size="8" name="R2">
                  <label>Cant.</label> 
                  <br/> 
	      	<a href="#"><img src="/public/img/Lineadecolor/Mejillas/R3.png"/></a> 
	      	<input type="text"  size="8" name="R3">
            <label>Cant.</label> 
            <a href="#"><img src="/public/img/Lineadecolor/Mejillas/R4.png"/></a>       	      	      	
	      	<input type="text"  size="8" name="R4">
            <label>Cant.</label> 
          </center>
      </div>
{% endblock %} <!--Fin del contenido del archivo-->
