{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "mejillas" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos del rubor</center></h2>
      <center>
      	<a href="#"><img src="/public/img/Lineadecolor/Mejillas/R1.png"/></a>                   
      	<a href="#"><img src="/public/img/Lineadecolor/Mejillas/R2.png"/></a> 
      	<a href="#"><img src="/public/img/Lineadecolor/Mejillas/R3.png"/></a> 
      	<a href="#"><img src="/public/img/Lineadecolor/Mejillas/R4.png"/></a>       	      	      	
      </center>
{% endblock %} <!--Fin del contenido del archivo-->
