{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "ojos" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Ojos Mary Kay</center></h2>
      <div class="form-group">
	      <center>
	      	<a href="/corrector"><img src="/public/img/Lineadecolor/Ojos/ojos1.jpg"/></a>
	       	<a href="/sombras"><img src="/public/img/Lineadecolor/Ojos/ojos2.png"/></a>
	       	<a href="/rimel"><img src="/public/img/Lineadecolor/Ojos/ojos4.jpg"/></a>
	       	<a href="/delineador"><img src="/public/img/Lineadecolor/Ojos/ojos3.jpg"/></a>
			<a href="/lapiz"><img src="/public/img/Lineadecolor/Ojos/ojos5.jpg"/></a>         	       	      	
	      </center>
      </div>
{% endblock %} <!--Fin del contenido del archivo-->
