{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "labios" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>LOjos Mary Kay</center></h2>
      <center>
      	<a href="#"><img src="/public/img/Lineadecolor/Ojos/ojos1.jpg"/></a>
       	<a href="#"><img src="/public/img/Lineadecolor/Ojos/ojos2.png"/></a>
       	<a href="#"><img src="/public/img/Lineadecolor/Ojos/ojos4.jpg"/></a>
       	<a href="#"><img src="/public/img/Lineadecolor/Ojos/ojos3.jpg"/></a>
		<a href="#"><img src="/public/img/Lineadecolor/Ojos/ojos5.jpg"/></a>         	       	      	
      </center>
{% endblock %} <!--Fin del contenido del archivo-->
