{% set active_page = "registrar" %}
{% block bodycontent %}
<html lang="es">
<head>
      <title>Registrar Usuario</title>
      <link rel="stylesheet" type="text/css" href="/static/estilo_login.css">
</head>
<script type="text/javascript">
      $('#toggle-login').click(function(){
        $('#login').toggle();
      });
</script>
<body>
      <span href="#" class="button" id="toggle-login">Registrar</span>     
      <div id="login">
            <div id="triangle"></div>
            <h1>Registrar</h1>
            <form role="form" action="/registrar" method="post">
                  <input type="text" class="form-control" name="nombre" placeholder="Nombre"><br><br>
                  <input type="text" class="form-control" name="apellido" placeholder="Apellido"><br><br>
                  <input type="text" class="form-control" name="email" placeholder="email"><br><br>                  
                  <input type="text" class="form-control" name="user" placeholder="Usuario"><br><br>
                  <input type="password" class="form-control" name="password" placeholder="Password"><br><br>
                  <!--<input type="text" class="form-control" name="fecha" placeholder="01/09/1992"><br><br>-->
                  <input type="text" class="form-control" name="sexo" placeholder="sexo"><br><br>
                  <input type="submit" value="Registrar">
            </form>
      </div>
</body>
</html>
{% endblock %}