{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "reportes" %}  

{% block bodycontent %} <!--Inicio del contenido del archivo-->
    <h2><center>Reportes</center></h2>     	
  	<div class="form-group">	
      	<form role="form" action="/genera_reporte" method="post">      	
			<label for="nivel">Seleccionar reporte: </label>
			<select class="form-control" name="reporte" onchange="cancela();" id="reporte">
			  <option value="1">Catálogo de artículos</option>
			  <option value="2">Artículos vendidos</option>
			  <option value="3">Clientes Registrados</option>
			  <option value="4">Reportes de Ventas por cliente</option>
			  <option value="5">Listado de ganancias</option>
			</select>
			<br/>
			<label for="cliente" id="cl">Seleccione un Cliente:</label>
			<select class="form-control" id="clientes" name="clientes">
                {%for clientes in clientes%}
                   	<option>{{clientes.nombre}} {{clientes.apellidos}}</option>
                {%endfor%}
            </select>
			<label for="nivel" id="cat">Selecciona categoría: </label>
			<select class="form-control" name="categoria" id="categoria">
			  <option value="1">Maquillaje</option>
			  <option value="2">Línea de color</option>
			</select>
			<br/>
			<div align="right">
					<button type="submit" class="btn btn-primary btn-lg" title="Generar">Generar <span class='glyphicon glyphicon-file'></span></button>					
					<button type="button" class="btn btn-danger btn-lg" title="Cancelar" onclick="window.location.href='/index'">Cancelar <span class='glyphicon glyphicon-remove-circle'></span></button>
			</div>
		</form> 
  	</div>   
{% endblock %} <!--Fin del contenido del archivo-->

{%block script%}
	<script type="text/javascript" src="static/jquery.min.js"></script> <!--Para que funcione el select al iniciar la vista de la pagina-->
	<script>
      $(document).on('ready',function(){
            cancela(); //Al iniciar la carga de la vista muestra los resultados dependiendo del que este seleccionado
      });
      function cancela()
      {
            reporte=$('#reporte').val();    
            if (reporte=='1') 
            { 
                  $('#clientes').hide(); 
                  $('#cl').hide(); 
                  $('#categoria').show();
                  $('#cat').show();        
            };
            if (reporte=='2') 
            {
            	  $('#clientes').hide();
            	  $('#cl').hide();  
                  $('#categoria').show();  	
                  $('#cat').show();            
            };
            if (reporte=='3') 
            {
                 $('#clientes').hide(); 
                 $('#cl').hide();
                 $('#categoria').hide();   
                 $('#cat').hide();            
            };   
            if (reporte=='4') 
            {
                 $('#clientes').show(); 
                 $('#cl').show(); 
                 $('#categoria').show();
                 $('#cat').show();                  
            };  
            if (reporte=='5') 
            {
                 $('#clientes').hide(); 
                 $('#cl').hide();
                 $('#categoria').hide();   
                 $('#cat').hide();            
            };        
      }
</script>        		
{%endblock%} 