{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "rimel" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tipos de Rimel Mary Kay</center></h2>
      <div class="form-group">
	      <center>
                  <img src="/public/img/Lineadecolor/Ojos/Rimel/rimel.jpg"/>
                  <p><b>$120.50</b></p>
                  <p>Crea la imagen de unas pestañas más largas y gruesas,</p>
                  <p>además, es resistente al agua. Disponible en tonos Negro.</p>
                  
                  <br/>
                  <br/>
	      	<a href="#"><img src="/public/img/Lineadecolor/Ojos/Rimel/R1.png"/></a>
                  <input type="text"  size="8" name="r1">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Rimel/R2.png"/></a>
                  <input type="text"  size="8" name="r2">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Rimel/R3.png"/></a>
	      	<input type="text"  size="8" name="r3">
                  <label>Cant.</label>                  
          </center>
	  </div>      
{% endblock %} <!--Fin del contenido del archivo-->
