{% extends "_base.html" %} <!--Hereda el contenido del _base.html-->
{% set active_page = "lapiz" %}
{% block bodycontent %} <!--Inicio del contenido del archivo-->
      <h2><center>Tonos de Sombras Delineador Mary Kay</center></h2>
      <div class="form-group">
	      <center>

                  <img src="/public/img/Lineadecolor/Ojos/Sombras/sombras.jpg"/>
                  <p><b>$47.50</b></p>
                  <p>Destaca tus ojos con las Sombras Minerales Compactas Mary Kay </p>
                  <p>se deslizan suavemente y brindan una estupenda cobertura de </p>
                  <p>larga duración, no se acumulan en el pliegue del párpado.</p>                  
                  <br/>
                  <br/>
                  
            <form role="form">
	      	<a href="#"><img src="/public/img/Lineadecolor/Ojos/Sombras/S1.png"/></a>
                  <input type="text"  size="8" name="S1">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Sombras/S2.png"/></a>
                  <input type="text"  size="8" name="S2">
                  <label>Cant.</label> 
                  <br/> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Sombras/S3.png"/></a>
	      	<input type="text"  size="8" name="S3">
                  <label>Cant.</label>
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Sombras/S4.png"/></a>
	      	<input type="text"  size="8" name="S4">
                  <label>Cant.</label> 
                  <br/>
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Sombras/S5.png"/></a>
                  <input type="text"  size="8" name="S5">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Sombras/S6.png"/></a>
                  <input type="text"  size="8" name="S6">
                  <label>Cant.</label> 
                  <br/> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Sombras/S7.png"/></a>
                  <input type="text"  size="8" name="S7">
                  <label>Cant.</label> 
                  <a href="#"><img src="/public/img/Lineadecolor/Ojos/Sombras/S8.png"/></a>
                  <input type="text"  size="8" name="S8">
                  <label>Cant.</label> 
                  <div align="right">
                        <button type="submit" class="btn btn-primary btn-lg" title="Guardar">Guardar <span class='glyphicon glyphicon-ok-sign'></span></button>
                        <button type="button" class="btn btn-danger btn-lg" title="Cancelar" onclick="window.location.href='/index'">Cancelar <span class='glyphicon glyphicon-remove-circle'></span></button>
                  </div>
            </form>
                  <br/> 
          </center>
	  </div>      
{% endblock %} <!--Fin del contenido del archivo-->
